<h1>h1 标题1 <small>Lorem ipsum dolor sit amet.</small></h1>
<h2>h2 标题2</h2>
<h3>h3 标题3</h3>
<h4>h4 标题4</h4>

<p><a href="#">Lorem ipsum</a> dolor sit amet, consectetur adipisicing elit. Ex velit, voluptatem quia voluptates eligendi reiciendis esse libero provident itaque minus, tempora, amet <dfn>repudiandae</dfn> quod labore in, asperiores quaerat cupiditate expedita.</p>

<code>Lorem.</code>

<hr>

<pre>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, ex autem assumenda deserunt recusandae doloribus, inventore aliquid ratione. Sequi aperiam sit architecto possimus magni accusantium alias recusandae laboriosam voluptates!</pre>

<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, quaerat cum, velit officiis qui et accusamus asperiores maxime impedit, pariatur voluptas eligendi iste, a nam earum quia deleniti enim laudantium.
<small>Lorem ipsum dolor sit amet.</small>
</blockquote>

<ul>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Commodi dolor magnam, quaerat blanditiis?</li>
  <li>Eaque placeat fugiat quas corporis.</li>
</ul>
