@charset 'utf-8';

.app-body {
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.container {
  @include absolute(top 0 left 0 right 0);
  padding: $grid-gutter-width;
  background: white;
}
