/* boostrap sass import */
// Core variables and mixins
@import "variables";
$icon-font-path:          "../assets/fonts/";

// Mixins import start ( ===mixins完整引用，无需修改=== )
// --------------------------------------------------
// Utilities
@import "mixins/hide-text", "mixins/opacity", "mixins/image", 
        "mixins/labels", "mixins/reset-filter", "mixins/resize", 
        "mixins/responsive-visibility", "mixins/size", "mixins/tab-focus", 
        "mixins/text-emphasis", "mixins/text-overflow", "mixins/vendor-prefixes";

// Components
@import "mixins/alerts", "mixins/buttons", "mixins/panels",
        "mixins/pagination", "mixins/list-group", "mixins/nav-divider", 
        "mixins/forms", "mixins/progress-bar", "mixins/table-row";

// Skins
@import "mixins/background-variant", "mixins/border-radius", "mixins/gradients";

// Layout
@import "mixins/clearfix", "mixins/center-block", "mixins/nav-vertical-align", 
        "mixins/grid-framework", "mixins/grid";

// --------------------------------------------------
// Mixins import end

// Reset
@import "normalize";

// Core CSS
@import "scaffolding", "type", "code", "grid", "tables", "forms", "buttons";

// Components
@import "dropdowns","component-animations", "glyphicons", "input-groups", "pagination","alerts", "modals", "navs", "navbar", "panels", "wells", "close", "button-groups", "labels", "tooltip", "progress-bars";

// Utility classes
@import "utilities";

/* compass import */
@import "compass/css3";

/* animate.css base sass import */
// Grab the settings
$enable-prefixes:         true;
$enable-all-modules:      true;

@import 'settings/main',
        'settings/names';

// Import base animation classes
@import 'utilities/base-classes';

// Import Utilities
@import 'utilities/functions',
        'utilities/mixins'
